{% include "tweets/search_form.html" %}<br/>
{% for obj in object_list %}

	<p>{{ obj.content }}<br/>
	{{ obj.user }}<br/>
	{{ obj.timestamp|timesince }} ago </p><br/><br/>
{% empty %}
	{% if request.GET.q %}
	<p>No tweets found.</p>
	{% else %}
	<p>No tweets yet.</p>
	{% endif%}
{% endfor %}